<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <variable name="logDirectory" value="${basedir}/../../../logs/${shortdate}"/>

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${logDirectory}/${date:format=yyyy-MM-dd HH\:mm\:ss.fff}_logfile.txt"
            layout="Level: ${level:uppercase=true}     Date: ${longdate} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>